---
layout: default
title: Brandon Jimenez
description: Cyber Security Analyst
featured_image: /images/demo/home.jpg
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		##### Current Developments:

		December 29th, 2021 Update:

		Currently working in the Security Operations Center at Kiewit. 
		Obtained the LogRhythm Security Analyst certification last month.
		Working towards PenTest+ at the moment.

		##### Check out my other profiles below:

		| [LinkedIn Profile](https://www.linkedin.com/in/brandon-jimenez/) | [Pluralsight Profile](https://app.pluralsight.com/profile/brandon-jimenez-36) | [TryHackMe Profile](https://tryhackme.com/p/darkplisken) | [Hack The Box Profile](https://www.hackthebox.eu/profile/394819) |
		<script src="https://tryhackme.com/badge/179064"></script> <script src="https://www.hackthebox.eu/badge/394819"></script>


		#### For my resume [click here for a PDF](BrandonJimenez_Resume.pdf), otherwise explore below.

		------------------------------------------------------------------------------------

		### ABOUT ME

		Cyber Security Professional with a passion for all things technology, system administration and information security; with 4 years of experience in troubleshooting and supporting a variety of systems. Looking to bring my knowledge gained through certifications, self-study, and professional experience to a Cybersecurity Analyst role within your company.

		### TECHNICAL PROFICIENCIES

		PLATFORMS: Windows, Linux

		TOOLS: Active Directory, Microsoft Office, Bomgar, ServiceNow, SSMS, SCCM, Security Onion

		LANGUAGES: HTML, CSS, SQL, Python (Basic)

		### RELEVANT SKILLS
		Incident Response, Building Secure Environments, Data Security, Security Policies, Threat Intelligence, Vulnerability
		Management, Virtualization, Inventory Management, Network/System Troubleshooting

		### CERTIFICATIONS

		CompTIA Cybersecurity Analyst+ ce

		CompTIA Security+ ce 

		CompTIA Network+ ce 

		LogRhythm Security Analyst

		Dell EMC Proven Professional Associate: Information Storage and Management v3

		### PROFESSIONAL EXPERIENCE

		#### Kiewit Corporation, Omaha, NE
		##### Cyber Security Analyst
		September 2021 - PRESENT

		Focus on security operations, incident response and threat intelligence.

		- Ensure monitoring of alerts and logs from enterprise security tools such as firewalls, IDS, Anti-virus, Data Loss Protection (DLP) and vulnerability scanners
		- Utilizing LogRhythm and Microsoft Defender, incident response and threat analysis
		- Perform cyber news analysis, security awareness training and recommend new analytic methods for detecting threats
		- Documenting and conforming to processes related to security monitoring and detection
		- Prioritizing workflow; addressing technical and non-technical escalations to satisfaction

		##### Technology Group Senior Service Technician
		October 2018 - PRESENT

		Currently responsible for preparing and shipping PC's to Kiewit's end users based on information
		submitted through our internal ticket system. Focused primarily on the tactical elements of PC diagnostics,
		repair, and imaging.

		- Project Management Lead for troubleshooting efficiencies, operations and maintenance
		- Revitalized Knowledge Base for team distribution; Troubleshooting and Team Policies
		- Auditing software logs to ensure documented guidelines for team process are in line within
		specifications; ensuring headache-free customer service experience
		- Analyzing and addressing severe hardware issues
		- Abiding to established processes for imaging and repairing computers
		- Facilitating open collaboration with inter-departmental technology teams, optimizing customer
		experience
		- Maintaining and tracking available PC inventory for a significant portion of the Kiewit Technology Group.

		#### First Data, Omaha, NE
		##### Contact Center Technical Specialist
		November 2017 - October 2018

		While working for First Data (now Fiserv) I was responsible for performing routine merchant
		account-related transactions and was the main point of contact for issues with point of sale systems.
		During my tenure I was promoted to Web Portal Payment Support due to my technical proficiency and
		troubleshooting ability.

		- Investigated and resolved a wide variety of technical issues and requests relating to point of sale systems
		- Dynamically upheld PCI Compliance
		- Managed inbound calls for software and POS systems
		- Incident management; restoring services within agreed SLAs
		- Disseminated complex information to tech users of all abilities

		### EDUCATION

		##### Metropolitan Community College, Omaha, NE — Associate in Applied Science, Server Administration 
		November 2018

		- Became familiar with implementing, configuring, and maintaining a Windows Server
		- Became familiar with implementing and configuring Active Directory environments for organizations of
		all sizes
		- Gained a strong technical foundation in monitoring and managing a network infrastructure
		- Hands on experience setting up a virtualized

		### PERSONAL PROJECTS
		##### Homelab

		At home, I have set up my own personal "home lab", I use these systems to learn about new technologies and practice new skills. The servers and accompanying systems are very much non-production systems, this allows me free reign on various configurations and test ideas. I use this lab to further commit to self improvement on my down time.


		- Homebrew KB to document design and configuration
		  - Current setup is utilizing [Material for MkDocs](https://github.com/squidfunk/mkdocs-material). Material is a design theme that is forked from [MkDocs](https://www.mkdocs.org/).
		- Home automation services
		  - Current setup is utilizing [Homebridge](https://homebridge.io/) to connect third party devices into Apple's HomeKit. Automation is being handled by Shortcuts and HomeKit. 
		- VMs for learning Windows Server, Ubuntu, Fedora and Kali Linux; virtual networking
		  - VMware Workstation Pro in conjunction with ESXi 6.5 & 6.7
		- Penetration testing
		  - Utilizing primarily Kali Linux on VMWare Workstation Pro to connect and interact with boxes on [TryHackMe](https://tryhackme.com/) and [HackTheBox](https://www.hackthebox.eu/)
		  - Basic python script writing - creating word lists & ping sweep

		{% include socials.html %}

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section>
