---
layout: default
title: Brandon Jimenez
description: Cyber Security Analyst
featured_image: /images/demo/home.jpg
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h5 id="current-developments-">Current Developments:</h5>
			<p>December 29th, 2021 Update:</p>
			<p>Currently working in the Security Operations Center at Kiewit. 
			Obtained the LogRhythm Security Analyst certification last month.
			Working towards PenTest+ at the moment.</p>
		
		<h5 id="check-out-my-other-profiles-below-">Check out my other profiles below:</h5>
			<p>| <a href="https://www.linkedin.com/in/brandon-jimenez/">LinkedIn Profile</a> | <a href="https://app.pluralsight.com/profile/brandon-jimenez-36">Pluralsight Profile</a> | <a href="https://tryhackme.com/p/darkplisken">TryHackMe Profile</a> | <a href="https://www.hackthebox.eu/profile/394819">Hack The Box Profile</a> |</p>
			<script src="https://tryhackme.com/badge/179064"></script> <script src="https://www.hackthebox.eu/badge/394819"></script>


		<h4 id="for-my-resume-click-here-for-a-pdf-brandonjimenez_resume-pdf-otherwise-explore-below-">For my resume <a href="BrandonJimenez_Resume.pdf">click here for a PDF</a>, otherwise explore below.</h4>
		<hr>
			<h3 id="about-me">ABOUT ME</h3>
				<p>Cyber Security Professional with a passion for all things technology, system administration and information security; with 4 years of experience in troubleshooting and supporting a variety of systems. Looking to bring my knowledge gained through certifications, self-study, and professional experience to a Cybersecurity Analyst role within your company.</p>
		<h3 id="technical-proficiencies">TECHNICAL PROFICIENCIES</h3>
			<p>PLATFORMS: Windows, Linux</p>
			<p>TOOLS: Active Directory, Microsoft Office, Bomgar, ServiceNow, SSMS, SCCM, Security Onion</p>
			<p>LANGUAGES: HTML, CSS, SQL, Python (Basic)</p>
		<h3 id="relevant-skills">RELEVANT SKILLS</h3>
			<p>Incident Response, Building Secure Environments, Data Security, Security Policies, Threat Intelligence, Vulnerability
			Management, Virtualization, Inventory Management, Network/System Troubleshooting</p>
		<h3 id="certifications">CERTIFICATIONS</h3>
			<p>CompTIA Cybersecurity Analyst+ ce</p>
			<p>CompTIA Security+ ce </p>
			<p>CompTIA Network+ ce </p>
			<p>LogRhythm Security Analyst</p>
			<p>Dell EMC Proven Professional Associate: Information Storage and Management v3</p>
		<h3 id="professional-experience">PROFESSIONAL EXPERIENCE</h3>
			<h4 id="kiewit-corporation-omaha-ne">Kiewit Corporation, Omaha, NE</h4>
			<h5 id="cyber-security-analyst">Cyber Security Analyst</h5>
				<p>September 2021 - PRESENT</p>
				<p>Focus on security operations, incident response and threat intelligence.</p>
					<ul>
						<li>Ensure monitoring of alerts and logs from enterprise security tools such as firewalls, IDS, Anti-virus, Data Loss Protection (DLP) and vulnerability scanners</li>
						<li>Utilizing LogRhythm and Microsoft Defender, incident response and threat analysis</li>
						<li>Perform cyber news analysis, security awareness training and recommend new analytic methods for detecting threats</li>
						<li>Documenting and conforming to processes related to security monitoring and detection</li>
						<li>Prioritizing workflow; addressing technical and non-technical escalations to satisfaction</li>
					</ul>
			<h5 id="technology-group-senior-service-technician">Technology Group Senior Service Technician</h5>
				<p>October 2018 - PRESENT</p>
				<p>Currently responsible for preparing and shipping PC&#39;s to Kiewit&#39;s end users based on information
				submitted through our internal ticket system. Focused primarily on the tactical elements of PC diagnostics,
				repair, and imaging.</p>
					<ul>
						<li>Project Management Lead for troubleshooting efficiencies, operations and maintenance</li>
						<li>Revitalized Knowledge Base for team distribution; Troubleshooting and Team Policies</li>
						<li>Auditing software logs to ensure documented guidelines for team process are in line within
						specifications; ensuring headache-free customer service experience</li>
						<li>Analyzing and addressing severe hardware issues</li>
						<li>Abiding to established processes for imaging and repairing computers</li>
						<li>Facilitating open collaboration with inter-departmental technology teams, optimizing customer
						experience</li>
						<li>Maintaining and tracking available PC inventory for a significant portion of the Kiewit Technology Group.</li>
					</ul>
			<h4 id="first-data-omaha-ne">First Data, Omaha, NE</h4>
			<h5 id="contact-center-technical-specialist">Contact Center Technical Specialist</h5>
			<p>November 2017 - October 2018</p>
			<p>While working for First Data (now Fiserv) I was responsible for performing routine merchant
			account-related transactions and was the main point of contact for issues with point of sale systems.
			During my tenure I was promoted to Web Portal Payment Support due to my technical proficiency and
			troubleshooting ability.</p>
				<ul>
					<li>Investigated and resolved a wide variety of technical issues and requests relating to point of sale systems</li>
					<li>Dynamically upheld PCI Compliance</li>
					<li>Managed inbound calls for software and POS systems</li>
					<li>Incident management; restoring services within agreed SLAs</li>
					<li>Disseminated complex information to tech users of all abilities</li>
				</ul>
		<h3 id="education">EDUCATION</h3>
			<h5 id="metropolitan-community-college-omaha-ne-associate-in-applied-science-server-administration">Metropolitan Community College, Omaha, NE — Associate in Applied Science, Server Administration</h5>
			<p>November 2018</p>
				<ul>
					<li>Became familiar with implementing, configuring, and maintaining a Windows Server</li>
					<li>Became familiar with implementing and configuring Active Directory environments for organizations of
					all sizes</li>
					<li>Gained a strong technical foundation in monitoring and managing a network infrastructure</li>
					<li>Hands on experience setting up a virtualized</li>
				</ul>
		<h3 id="personal-projects">PERSONAL PROJECTS</h3>
		<h5 id="homelab">Homelab</h5>
			<p>At home, I have set up my own personal &quot;home lab&quot;, I use these systems to learn about new technologies and practice new skills. The servers and accompanying systems are very much non-production systems, this allows me free reign on various configurations and test ideas. I use this lab to further commit to self improvement on my down time.</p>
				<ul>
					<li>Homebrew KB to document design and configuration<ul>
					<li>Current setup is utilizing <a href="https://github.com/squidfunk/mkdocs-material">Material for MkDocs</a>. Material is a design theme that is forked from <a href="https://www.mkdocs.org/">MkDocs</a>.</li>
				</ul>
				<li>Home automation services<ul>
					<li>Current setup is utilizing <a href="https://homebridge.io/">Homebridge</a> to connect third party devices into Apple&#39;s HomeKit. Automation is being handled by Shortcuts and HomeKit. </li>
				</ul>
				</li>
				<li>VMs for learning Windows Server, Ubuntu, Fedora and Kali Linux; virtual networking<ul>
				<li>VMware Workstation Pro in conjunction with ESXi 6.5 &amp; 6.7</li>
				</ul>
				</li>
				<li>Penetration testing<ul>
				<li>Utilizing primarily Kali Linux on VMWare Workstation Pro to connect and interact with boxes on <a href="https://tryhackme.com/">TryHackMe</a> and <a href="https://www.hackthebox.eu/">HackTheBox</a></li>
				<li>Basic python script writing - creating word lists &amp; ping sweep</li>
				</ul>
				</li>
				</ul>


		{% include socials.html %}

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section>
